[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "==2.9.0"
bleach = "==4.1.0"
certifi = "==2021.10.8"
chardet = "==4.0.0"
click = "==8.0.3"
dataverse = {editable = true, git = "https://github.com/IQSS/dataverse-client-python.git", ref = "5f95a11e2f32bcfabe28e6ad43b2f7edac60d983"}
first = "==2.0.2"
html5lib = "==1.1"
idna = "==3.3"
isort = "==5.10.1"
lazy-object-proxy = "==1.6.0"
lxml = "==4.6.4"
mccabe = "==0.6.1"
psycopg2 = "==2.9.2"
pylint = "==2.12.1"
pyparsing = "==3.0.6"
requests = "==2.26.0"
six = "==1.16.0"
toml = "==0.10.2"
typed-ast = "==1.5.0"
urllib3 = "==1.26.7"
webencodings = "==0.5.1"
wrapt = "==1.13.3"
PyYAML = "==6.0"
XlsxWriter = "==3.0.2"

[requires]
python_version = "3.7"
