[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid = "==3.0.2"
bleach = "==6.1.0"
certifi = "==2023.11.17"
chardet = "==5.2.0"
click = "==8.1.7"
dataverse = {editable = true, git = "https://github.com/IQSS/dataverse-client-python.git", ref = "5cdaadc2c3882d6fe23d3cb7cef5280fe83ba909"}
first = "==2.0.2"
html5lib = "==1.1"
idna = "==3.6"
isort = "==5.13.1"
lazy-object-proxy = "==1.9.0"
lxml = "==4.9.3"
mccabe = "==0.7.0"
psycopg2-binary = "==2.9.9"
pylint = "==3.0.3"
pyparsing = "==3.1.1"
requests = "==2.31.0"
six = "==1.16.0"
toml = "==0.10.2"
typed-ast = "==1.5.5"
urllib3 = "==2.1.0"
webencodings = "==0.5.1"
wrapt = "==1.16.0"
PyYAML = "==6.0.1"
XlsxWriter = "==3.1.9"

[requires]
python_version = "3.7"
