[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
astroid ="2.5.1"
bleach = "==3.3.0"
certifi = "==2020.12.5"
chardet = "==3.0.4"
click = "==7.1.2"
dataverse = {editable = true, git = "https://github.com/IQSS/dataverse-client-python.git", ref = "5f95a11e2f32bcfabe28e6ad43b2f7edac60d983"}
first = "==2.0.2"
html5lib = "==1.1"
idna = "==2.10"
isort = "==5.8.0"
lazy-object-proxy = "==1.6.0"
lxml = "==4.6.3"
mccabe = "==0.6.1"
psycopg2 = "==2.8.6"
pylint = "==2.7.2"
pyparsing = "==2.4.7"
requests = "==2.25.1"
six = "==1.15.0"
toml = "==0.10.2"
typed-ast = "==1.4.2"
urllib3 = "==1.26.5"
webencodings = "==0.5.1"
wrapt = "==1.12.1"
PyYAML = "==5.4.1"
XlsxWriter = "==1.3.7"

[requires]
python_version = "3.7"
