astroid==2.4.1
bleach==3.1.5
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
-e git+https://github.com/IQSS/dataverse-client-python.git@5f95a11e2f32bcfabe28e6ad43b2f7edac60d983#egg=dataverse
first==2.0.2
html5lib==1.0.1
idna==2.9
isort==4.3.21
lazy-object-proxy==1.5.0
lxml==4.5.1
mccabe==0.6.1
packaging==20.4
pip-review==1.1.0
pip-tools==5.2.0
psycopg2==2.8.5
pylint==2.5.2
pyparsing==2.4.7
PyYAML==5.3.1
requests==2.23.0
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
webencodings==0.5.1
wrapt==1.12.1
XlsxWriter==1.2.9
