astroid==2.3.2
bleach==3.1.0
certifi==2017.11.5
chardet==3.0.4
Click==7.0
-e git+https://github.com/IQSS/dataverse-client-python.git@5f95a11e2f32bcfabe28e6ad43b2f7edac60d983#egg=dataverse
first==2.0.2
html5lib==1.0.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
lxml==4.4.1
mccabe==0.6.1
packaging==19.2
pip-review==1.0
pip-tools==4.2.0
pkg-resources==0.0.0
psycopg2==2.8.4
pylint==2.4.3
pyparsing==2.4.2
PyYAML==5.1
requests==2.22.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.6
webencodings==0.5.1
wrapt==1.11.2
XlsxWriter==1.2.2
