astroid==2.3.3
bleach==3.1.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
-e git+https://github.com/IQSS/dataverse-client-python.git@5f95a11e2f32bcfabe28e6ad43b2f7edac60d983#egg=dataverse
first==2.0.2
html5lib==1.0.1
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
packaging==20.1
pip-review==1.0
pip-tools==4.5.0
pkg-resources==0.0.0
psycopg2==2.8.4
pylint==2.4.4
pyparsing==2.4.6
PyYAML==5.1
requests==2.23.0
six==1.14.0
typed-ast==1.4.1
urllib3==1.25.8
webencodings==0.5.1
wrapt==1.11.2
XlsxWriter==1.2.8
