dataverse_api_host: ''
dataverse_api_key: ''
dataverse_db_host: ''
dataverse_db_name: ''
dataverse_db_username: ''
dataverse_db_password: ''
include_dataset_metrics: false
work_dir: '/tmp'
log_path: 'logs'
log_file: 'dataverse-reports.log'
log_level: 'INFO'
from_email: ''
admin_emails:
        - email1
        - email2
accounts:
     account1:
          name: Account 1
          identifier: account1_identifier
          contacts:
               - email1
               - email2
     account2:
          name: Account 2
          identifier: account2_identifier
          contacts:
               - email1
