dataverse__api_host: ''
dataverse__api_key: ''
dataverse_db_host: ''
dataverse_db_name: ''
dataverse_db_username: ''
dataverse_db_password: ''
work_dir: '/tmp'
from_email: ''
admin_emails:
        - email1
        - email2
from_email: ''
accounts:
     account1:
          name: Account 1
          identifier: account1_identifier
          contacts:
               - email1
               - email2
     account2:
          name: Account 2
          identifier: account2_identifier
          contacts:
               - email1
